/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.padded-left {
  padding-left: 20px;
}

.footer {
  padding-bottom: 60px;
}

.footer-small {
  padding-bottom: 10px;
}

img {
  max-width: 500px;
  width: auto;
  height: auto;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 200px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 200px;
    width: 100%;
}
.parallax-container {
     height: 400px;
   }
