<h1><%= @category.name %></h1>
<% if current_user && current_user.admin? %>
  <%= link_to "Delete", category_path(@category), method: "delete" %>
<% end %>

<% @category.ideas.each do |idea| %>
  <%= link_to idea.title, idea_path(idea) %>
<% end %>
